@using Mvc5Memberships.Models
@model IEnumerable<ThumbnailAreaModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        @*<div class="col-xs-12">
            <h2>I'm logged in</h2>
        </div>*@

        foreach (var row in Model)
        {
            @Html.Partial("_ThumbnailAreaPartial", row )
        }
    }
    else
    {
        <div class="col-lg-9 col-md-8 col-xs-7">
            <h2>I'm not logged in</h2>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-5">
            
        </div>
    }
</div>